# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Language used by Data Scientists
* Commonly used libraries by Data Scientists
* Commonly used Data Science tools
* Illustration of a few basic arithmetic expressions
    * Minutes to Hours conversion

Some of the popular languages that Data Scientists use are :

1. Python
2. R
3. SOL
4. Julia

Some of the commonly used libraiest used by Data Scientists include:

1. TensorFlow
2. Pandas
3. NumPy
4. Scikit-learn
5. Matplotlib

|Data Science Tools|
--------------------
|Jupyter Notebook|
|R Studio|
|Zeppelin Notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [16]:
min=int(input("Please enter the minutes"))
h=min//60
m=min%60
print(min,"minutes is ",h,"hours",m,"minutes")

Please enter the minutes 200

200 minutes is  3 hours 20 minutes